apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: redis-data
  namespace: proteus
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  # storageClassName: optional; omit to use cluster default
